doctype xml
rss(version="2.0", xmlns:atom="http://www.w3.org/2005/Atom")
  channel
    title="timkl.com"
    link="https://www.timkl.com"
    description="UX Designer @ GoToMeeting Free"
    language="en"
    atom:link(href="https://www.timkl.com/feed.xml", rel="self", type="application/rss+xml")
    each post, slug in public.posts._data
      if slug !== 'index'
        item
          title= post.title
          description= partial("posts/" + slug)
          pubDate= new Date(post.date)
          link #{ url }blog/#{ slug }.html
          guid(isPermaLink="true") #{ url }blog/#{ slug }.html